<div class="container-fluid">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr class="first-row">
          <th>#</th>
          <th>Marca</th>
          <th>Linea</th>
          <th>Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of vehicles">
          <td>
            <dd><strong>{{v.id}}</strong></dd>
          </td>
          <td>
            <dd>{{v.marca}}</dd>
          </td>
          <td>
            <dd>{{v.linea}}</dd>
          </td>
          <td>
            <dd>{{v.modelo}}</dd>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <tr *ngFor="let b of brands">
      <td>
        <dd>Total {{b}}: {{getVehiclesNumber(b)}}</dd>
      </td>
    </tr>
  </div>
</div>
